# treebanks, models, config and labels
/treebanks/constituent/
/treebanks/dependencies/
/treebanks_dec/constituent/
/treebanks_dec/dependencies/
/labels/constituent/
/labels/dependencies/
/labels_dec/constituent/
/labels_dec/dependencies/
/models/
/ncrf_configs/

# stanza resources, ncrfpp and eval scripts
/stanza_resources
/NCRFpp
/evalb
/evalud

# project related stuff
/notes
/deprecated
/utils/generate_train_all.sh
/utils/default_cfgs/*
/to_do_list

.vscode/
/src/constituent/__pycache__
/src/dependency/__pycache__
