# treebanks, models, config and labels
/treebanks/constituent/
/treebanks/dependencies/
/models/
/labels/constituent/
/labels/dependencies/
/ncrf_configs/

# stanza resources, ncrfpp and eval scripts
/stanza_resources
/NCRFpp
/evalb
/evalud

# project related stuff
/notes
/deprecated
generate_train_all.sh
to_do_list

.vscode
/src/constituent/__pycache__
/src/dependency/__pycache__
