# treebanks, models, config and labels
/treebanks
/treebanks_dec
/labels
/labels_dec
/ncrf_configs
/codelin
/results
/models
/hfmtl
/__pycache__

train_models.ipynb


# stanza resources, ncrfpp and eval scripts
/stanza_resources
/NCRFpp
/evalb
/evalud

# project related stuff
/notes
/deprecated
/scripts
/logs
/default_cfgs

.vscode/
/src/models/__pycache__
*.pyc
test.ipynb
error.txt
error-ptb.txt
