### Embedings
norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=False
word_emb_dim=100
char_emb_dim=30

### NetworkConfiguration

# flag of use crf instead of softmax for inference layer
use_crf=False
# flag of use char sequence layer
use_char=True
# neural structure for word sequence/character sequence
word_seq_feature=LSTM
char_seq_feature=LSTM
# feature configurations
feature=[POS] emb_size=20


### TrainingSetting
status=train
optimizer=SGD
iteration=20
batch_size=8
ave_batch_loss=True

### Hyperparameters
cnn_layer=4
char_hidden_dim=50
hidden_dim=800
dropout=0.5
lstm_layer=2
bilstm=True
learning_rate=0.02
lr_decay=0.05
momentum=0.9
l2=0

### Files 